/* CSS GUIDE - 通用样式 - 基础
================================================================
 *
 * PROJECT:	Spark;
 * Author: zhaidongfang;
 *
----------------------------------------------------------------
 *
 * 1. CSS RESET;
 * 2. 基础代码;
 * 3. 基础模块;
 * 4. 基础图标;
 *
================================================================*/
/* 1 CSS RESET
================================================================*/
/* 已移至didireset */
/* 2 基础代码
================================================================*/
/* 布局
----------------------------------------------------------------*/
/* 浮动 */
.clearfix:after,
.msgBox:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  line-height: 0;
}
.clearfix,
.msgBox {
  zoom: 1;
}
.left,
.fl {
  float: left;
}
.right,
.fr {
  float: right;
}
/* DISPLAY */
.dis_b,
.show {
  display: block;
}
.dis_in {
  display: inline;
}
.dis_inb {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.dis_n,
.hide {
  display: none;
}
.vis_on {
  visibility: visible;
}
.vis_off {
  visibility: hidden;
}
/* 边距 */
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
body .mt0 {
  margin-top: 0 !important;
}
body .mr0 {
  margin-right: 0 !important;
}
body .mb0 {
  margin-bottom: 0 !important;
}
body .ml0 {
  margin-left: 0 !important;
}
body .pt0 {
  padding-top: 0 !important;
}
body .pr0 {
  padding-right: 0 !important;
}
body .pb0 {
  padding-bottom: 0 !important;
}
body .pl0 {
  padding-left: 0 !important;
}
/* 对齐 */
.vt_t {
  vertical-align: top;
}
.vt_m {
  vertical-align: middle;
}
.vt_b {
  vertical-align: bottom;
}
.vt_bl {
  vertical-align: baseline;
}
/* 文字
----------------------------------------------------------------*/
/* 字体 */
.tx_song {
  font-family: SimSun, Helvetica;
}
.tx_yh {
  font-family: Microsoft YaHei, Mingliu, Helvetica, sans-serif;
}
.tx_ar {
  font-family: Arial;
}
.tx_ss {
  font-family: sans-serif;
}
.tx_code {
  font-family: Courier New;
}
/* 字号 */
.tx_10 {
  font-size: .625rem;
}
.tx_11 {
  font-size: .6875rem;
}
.tx_12 {
  font-size: .75rem;
}
.tx_13 {
  font-size: .8125rem;
}
.tx_14 {
  font-size: .875rem;
}
.tx_15 {
  font-size: .9375rem;
}
.tx_16 {
  font-size: 1rem;
}
.tx_17 {
  font-size: 1.0625rem;
}
.tx_18 {
  font-size: 1.125rem;
}
.tx_19 {
  font-size: 1.1875rem;
}
.tx_20 {
  font-size: 1.25rem;
}
.tx_21 {
  font-size: 1.3125rem;
}
.tx_22 {
  font-size: 1.375rem;
}
.tx_23 {
  font-size: 1.4375rem;
}
.tx_24 {
  font-size: 1.5rem;
}
.tx_25 {
  font-size: 1.5625rem;
}
.tx_26 {
  font-size: 1.625rem;
}
.tx_27 {
  font-size: 1.6875rem;
}
.tx_28 {
  font-size: 1.75rem;
}
.tx_29 {
  font-size: 1.8125rem;
}
.tx_30 {
  font-size: 1.875rem;
}
.tx_34 {
  font-size: 2.125rem;
}
.tx_49 {
  font-size: 3.0625rem;
}
/* 字重 */
.tx_b {
  font-weight: 800;
}
.tx_n {
  font-weight: normal;
}
/* 字体样式 */
.tx_udl {
  text-decoration: underline;
}
.tx_del {
  text-decoration: line-through;
}
/* 对齐 */
.tx_l {
  text-align: left;
}
.tx_c {
  text-align: center;
}
.tx_r {
  text-align: right;
}
/* 折行 */
.tx_br {
  word-wrap: break-word;
  word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.tx_nbr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 其他
----------------------------------------------------------------*/
.hr1 {
  height: 0;
  overflow: hidden;
  border-top: #ccc 1px dotted;
  margin-top: 10px;
}
/* 鼠标手型 */
.cur_auto {
  cursor: auto!important;
}
.cur_default {
  cursor: default!important;
}
.cur_pointer {
  cursor: pointer!important;
}
/* 3 基础模块
================================================================*/
/* 表单元素
----------------------------------------------------------------*/
.inputTxt {
  position: relative;
  background: #fff;
}
.inputTxt input,
.inputTxt textarea,
.inputTxt select {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 10px;
  color: #666;
  border: #dadada 1px solid;
  background: none;
  font: 1rem/1.5 Helvetica, Arial, sans-serif;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
}
.inputTxt input:focus,
.inputTxt textarea:focus,
.inputTxt select:focus {
  border-color: #03acb9;
}
.inputTxt .arr {
  position: absolute;
  right: 3%;
  top: 50%;
  margin-top: -4px;
  border-width: 8px 5px 0;
  border-color: #333 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  pointer-events: none;
}
.inputCheck {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  cursor: pointer;
}
.inputCheck input {
  vertical-align: middle;
  border: none;
  background: none;
  -webkit-appearance: none;
  appearance: none;
}
.inputCheck input[type="radio"],
.inputCheck input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: url(//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/images/input_2x_151027.png) 0 0 no-repeat;
  background-image: -webkit-image-set(url(//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/images/input_151027.png) 1x, url(//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/images/input_2x_151027.png) 2x);
  background-size: 83px 20px;
}
.inputCheck input[type="radio"]:checked {
  background-position: -21px 0;
}
.inputCheck input[type="checkbox"] {
  background-position: -42px 0;
}
.inputCheck input[type="checkbox"]:checked {
  background-position: -63px 0;
}
/* 按钮
----------------------------------------------------------------*/
/* 按钮 */
.btn {
  display: block;
}
.btn a,
.btn input,
.btn button,
.btn .in {
  display: block;
  width: 100%;
  padding: .56em;
  min-width: 5.6em;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn input,
.btn button {
  -webkit-appearance: none;
  appearance: none;
}
.btn a.disabled,
.btn input[disabled],
.btn button[disabled],
.btn .in.disabled,
.btn a.disabled:active,
.btn input[disabled]:active,
.btn button[disabled]:active,
.btn .in.disabled:active {
  cursor: default;
}
.e_btn_inb {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.e_btn_inb a,
.e_btn_inb input,
.e_btn_inb button,
.e_btn_inb .in {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto;
  vertical-align: top;
}
.btn1 a,
.btn1 input,
.btn1 button,
.btn1 .in {
  background: #fa8919;
  color: #fff;
  border: #fa8919 1px solid;
}
.btn1 a:active,
.btn1 input:active,
.btn1 button:active,
.btn1 .in:active {
  background: #e67e17;
  color: #ebebeb;
  border-color: #e67e17;
}
.btn1 a.disabled,
.btn1 input[disabled],
.btn1 button[disabled],
.btn1 .in.disabled,
.btn1 a.disabled:active,
.btn1 input[disabled]:active,
.btn1 button[disabled]:active,
.btn1 .in.disabled:active {
  background: #e5e5e5;
  color: #fff;
  border-color: #e5e5e5;
}
.btn2 a,
.btn2 a:active,
.btn2 input,
.btn2 button,
.btn2 .in {
  background: #fff;
  color: #ff8b03;
  border: #ff8b03 1px solid;
}
.btn2 a:active,
.btn2 input:active,
.btn2 button:active,
.btn2 .in:active {
  background: #fff6eb;
  color: #ff8b03;
}
.btn2 a.disabled,
.btn2 input[disabled],
.btn2 button[disabled],
.btn2 .in.disabled,
.btn2 a.disabled:active,
.btn2 input[disabled]:active,
.btn2 button[disabled]:active,
.btn2 .in.disabled:active {
  background: #fff;
  color: #ccc;
  border-color: #e5e5e5;
}
.btn3 a,
.btn3 a:active,
.btn3 input,
.btn3 button,
.btn3 .in {
  background: #fff;
  color: #666;
  border: #adadad 1px solid;
}
.btn3 a:active,
.btn3 input:active,
.btn3 button:active,
.btn3 .in:active {
  background: #ebebeb;
  color: #5e5e5e;
}
.btn3 a.disabled,
.btn3 input[disabled],
.btn3 button[disabled],
.btn3 .in.disabled,
.btn3 a.disabled:active,
.btn3 input[disabled]:active,
.btn3 button[disabled]:active,
.btn3 .in.disabled:active {
  background: #fff;
  color: #ccc;
  border-color: #e5e5e5;
}
.btn2s {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.btn2s a,
.btn2s input,
.btn2s button,
.btn2s .in {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto;
  vertical-align: top;
  background: #fff;
  color: #fa8919;
  border: #fa8919 1px solid;
  font-size: .75rem;
  padding: .15em 1.2em;
}
.btn2s a:active,
.btn2s input:active,
.btn2s button:active,
.btn2s .in:active {
  background: #fff6ed;
  color: #fa8919;
}
.btn2s a.disabled,
.btn2s input[disabled],
.btn2s button[disabled],
.btn2s .in.disabled,
.btn2s a.disabled:active,
.btn2s input[disabled]:active,
.btn2s button[disabled]:active,
.btn2s .in.disabled:active {
  background: #fff;
  color: #ccc;
  border-color: #e5e5e5;
}
.btn1m {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.btn1m a,
.btn1m input,
.btn1m button,
.btn1m .in {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: auto;
  vertical-align: top;
  background: #fa8919;
  color: #fff;
  border: #fa8919 1px solid;
  font-size: 1rem;
  padding: 0.5em 1.2em;
}
.btn1m a:active,
.btn1m input:active,
.btn1m button:active,
.btn1m .in:active {
  background: #e67e17;
  color: #ebebeb;
  border-color: #e67e17;
}
.btn1m a.disabled,
.btn1m input[disabled],
.btn1m button[disabled],
.btn1m .in.disabled,
.btn1m a.disabled:active,
.btn1m input[disabled]:active,
.btn1m button[disabled]:active,
.btn1m .in.disabled:active {
  background: #e5e5e5;
  color: #fff;
  border-color: #e5e5e5;
}
/* progress
----------------------------------------------------------------*/
/* .progress_bar */
.progress_bar {
  position: relative;
  overflow: hidden;
  min-height: 15px;
  margin: 0 auto;
  border: #000 1px solid;
  border-radius: 3px;
  background-color: #e5e5e5;
}
.progress_bar .bd {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff642e;
  background-image: -webkit-linear-gradient(150deg, #ff642e 12.5%, #f94e21 12.5%, #f94e21 37.5%, #ff642e 37.5%, #ff642e 62.5%, #f94e21 62.5%, #f94e21 87.5%, #ff642e 87.5%, #ff642e);
  background-image: linear-gradient(120deg, #ff642e 12.5%, #f94e21 12.5%, #f94e21 37.5%, #ff642e 37.5%, #ff642e 62.5%, #f94e21 62.5%, #f94e21 87.5%, #ff642e 87.5%, #ff642e);
  background-size: 10px 17.32px;
  -webkit-animation: progress_bar 20s linear infinite;
  animation: progress_bar 20s linear infinite;
  -webkit-transform: translateX(1%);
  transform: translateX(1%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.progress_bar .txt {
  position: relative;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
}
@-webkit-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* progress_circle */
.progress_circle {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 100px;
  margin: 0 auto;
  background: url(about:blank);
  background-clip: content-box;
  border-radius: 50%;
  overflow: hidden;
}
.progress_circle .placeholder {
  opacity: 0;
  width: 100%;
  vertical-align: top;
}
.progress_circle .b0,
.progress_circle .b1,
.progress_circle .b2 {
  position: relative;
  width: 100%;
  border: #ff642e 1rem solid;
  background: url(about:blank);
  background-clip: content-box;
  -webkit-transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.progress_circle .b0 {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 50%;
  border: none;
  box-shadow: #e5e5e5 0 0 0 1rem inset;
}
.progress_circle .b1wrap {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-clip: content-box;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.progress_circle .b2wrap {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0;
  overflow: hidden;
  background-clip: content-box;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 3;
}
.progress_circle .b1 {
  z-index: 2;
  border-right: none;
  -webkit-border-top-left-radius: 100% 50%;
  -webkit-border-top-right-radius: 0 0;
  -webkit-border-bottom-right-radius: 0 0;
  -webkit-border-bottom-left-radius: 100% 50%;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 100% 50%;
  -webkit-transform-origin: right 50%;
  transform-origin: right 50%;
}
.progress_circle .b2 {
  z-index: 3;
  border-left: none;
  -webkit-border-top-left-radius: 0 0;
  -webkit-border-top-right-radius: 100% 50%;
  -webkit-border-bottom-right-radius: 100% 50%;
  -webkit-border-bottom-left-radius: 0 0;
  border-top-left-radius: 0 0;
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  border-bottom-left-radius: 0 0;
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.progress_circle .mid {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.progress_circle .mid .c1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 3rem;
}
/* 4 图标
================================================================*/
.ico {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-repeat: no-repeat;
  font-size: 0;
  vertical-align: middle;
  overflow: hidden;
}
/* .iconsvg
----------------------------------------------------------------*/
.iconsvg {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(images/sprite.svg);
}
.iconsvg_didi {
  width: 32px;
  height: 32px;
  background-position: -128px 0;
}
/* iconfont-font
----------------------------------------------------------------*/
@font-face {
  font-family: "iconfont";
  src: url('//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/font/iconfont.eot?t=1466497059');
  src: url('//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/font/iconfont.eot?t=1466497059#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/font/iconfont.woff?t=1466497059') format('woff'), /* chrome, firefox */ url('//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/font/iconfont.ttf?t=1466497059') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('//futurefriendly.cn/ds/static/release/component_modules/didi-component-didiui/ui_style/ui_base/font/iconfont.svg?t=1466497059#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont_didi:before {
  content: "\e900";
}
.iconfont_headphone:before {
  content: "\e901";
}
.iconfont_safe:before {
  content: "\e902";
}
.iconfont_car:before {
  content: "\e903";
}
.iconfont_right:before {
  content: "\e904";
}
.iconfont_leaf:before {
  content: "\e905";
}
