#main {
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px;
}
.tit4 {
  margin: 0 5%;
  padding: 4% 0;
  font-size: 1rem;
}
.tit4 .t {
  color: #333333;
}

.typearea {
  position: relative;
  margin: 0 5%;
  padding-bottom: 40px;
}
.typearea textarea {
  font-size: .875rem;
  vertical-align: top;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  -webkit-overflow-scrolling: touch;
}
.typearea textarea:focus {
  border-color: #dadada;
}
.txt_remain {
  position: absolute;
  width: 100%;
  text-align: right;
  background-color: #fff;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  height: 40px;
  line-height: 20px;
  border: #dadada 1px solid;
  border-top: none;
  color: #ccc;
  border-radius: 0 0 5px 5px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.imgList3 {
  margin: 0 5%;
}
.imgList3 .item {
  float: left;
  width: 33.3%;
  padding: 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.imgList3 .item:after {
  content: '';
  clear: both;
  display: block;
}
.imgList3 .item .pic {
  position: relative;
  border: #e0e0e0 1px solid;
  border-radius: 5px;
}
.imgList3 .item .pic img {
  display: block;
  border-radius: 5px;
}
.imgList3 .item:first-child {
  padding: 0 8px 0 0;
}
.imgList3 .item:last-child {
  padding: 0 0 0 8px;
}
.imgList3 .item .pic img {
  width: 100%;
}
.imgList3 .item .pic .close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -12px;
  top: -12px;
  background: url(//futurefriendly.cn/ds/static/release/components/imglist/images/applyclose.png) center center no-repeat;
  background-size: 24px 24px;
  text-indent: -9999em;
  overflow: hidden;
  opacity: 0.6;
}
.imgList3 .item .desc {
  clear: both;
  padding: 10px 0;
  text-align: center;
  font-size: .75rem;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * @require opt_foot/e_opt_foot_known.css
 * @require opt_foot/e_opt_foot_submit.css
 * @require opt_foot/e_opt_foot_uploadfilefix.css
 */
.opt_foot {
  position: relative;
  z-index: 99;
}
.opt_foot .inner .c0 {
  padding: 2.7%;
  width: 94.6%;
}
.e_foot_fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.e_foot_fix .inner {
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px 1px;
}

