.roundbg {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  opacity: .21;
}
.roundbg img {
  display: block;
}
.roundbg .round1 {
  position: absolute;
  width: 72%;
  display: block;
  left: 14%;
  padding-top: 24%;
}
.roundbg .round2 {
  position: absolute;
  width: 46%;
  display: block;
  left: 27%;
  padding-top: 37%;
}
.active .roundbg .round1 img,
.active .roundbg .round2 img {
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite;
}
.active .roundbg .round2 img {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.roundhead {
  position: absolute;
  left: 27%;
  width: 46%;
  padding-top: 37%;
}
.roundhead .bd {
  position: relative;
}
.roundhead .holder {
  opacity: 0;
  width: 100%;
  display: block;
}
.roundhead1,
.roundhead2,
.roundhead .con {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}
.roundhead .con {
  position: relative;
}
.active .roundhead1 {
  -webkit-animation: headrotateX_n 5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 2.5s;
  animation: headrotateX_n 5s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: 2.5s;
}
.active .roundhead2 {
  -webkit-animation: headrotateX_r 5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 2.5s;
  animation: headrotateX_r 5s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: 2.5s;
}
@-webkit-keyframes headrotateX_n {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes headrotateX_r {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes headrotateX_n {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes headrotateX_r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.active .roundhead1 .con {
  -webkit-animation: headrotateY_n 5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation: headrotateY_n 5s ease-in-out infinite;
  animation-direction: alternate;
}
.active .roundhead2 .con {
  -webkit-animation: headrotateY_r 5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation: headrotateY_r 5s ease-in-out infinite;
  animation-direction: alternate;
}
@-webkit-keyframes headrotateY_n {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}
@-webkit-keyframes headrotateY_r {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes headrotateY_n {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes headrotateY_r {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.e_spacehead_4,
.e_spacehead_5 {
  width: 74%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transform: scale(0.5);
  transition: all 0.4s ease-in-out;
}
.e_spacehead_4 {
  top: 0;
  left: 0;
}
.e_spacehead_5 {
  bottom: 0;
  right: 0;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.active .e_spacehead_4,
.active .e_spacehead_5 {
  position: absolute;
  opacity: 1;
}
.active .e_spacehead_4 {
  -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
  transform: scale(1) translate3d(-50%, -50%, 0);
}
.active .e_spacehead_5 {
  -webkit-transform: scale(1) translate3d(50%, 50%, 0);
  transform: scale(1) translate3d(50%, 50%, 0);
}
.e_spacehead_4 .name,
.e_spacehead_5 .name {
  bottom: 2%;
}
.connect {
  width: 6%;
  position: absolute;
  padding-top: 60%;
  left: 47%;
}
.active .connect .inner {
  position: relative;
  overflow: hidden;
  opacity: 0;
  height: 3px;
  -webkit-animation: conrotate 10s linear infinite;
  -webkit-transform-origin: center bottom;
  -webkit-animation-delay: .5s;
  animation: conrotate 10s linear infinite;
  transform-origin: center bottom;
  animation-delay: .5s;
}
.connect .c {
  position: absolute;
  left: 0;
  width: 100%;
  margin-left: -100%;
  height: 0;
  border-top: #e37716 2px dotted;
}
.active .connect .c {
  -webkit-animation: connect 1s linear infinite;
  -webkit-animation-direction: alternate;
  -webkit-transform-origin: 75% center;
  animation: connect 1s linear infinite;
  animation-direction: alternate;
  transform-origin: 75% center;
}
@-webkit-keyframes connect {
  0% {
    left: 0;
  }
  100% {
    left: 200%;
  }
}
@-webkit-keyframes conrotate {
  0% {
    opacity: 1;
    -webkit-transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-315deg);
  }
}
@keyframes conrotate {
  0% {
    opacity: 1;
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-315deg);
  }
}
