body {
  background-color: #ebebeb;
}
.pqs {
  background-color: #e5e5e5;
}
#main {
  max-width: 750px;
  margin: 0 auto;
}
.top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.top .inner {
  max-width: 750px;
  margin: 0 auto;
}
.tophold {
  opacity: 0;
}
.pq {
  display: none;
}
.pqs .oq {
  display: none;
}
.pqs .pq {
  display: block;
}
.foot .oq,
.foot .pq {
  height: 1rem;
}
.foot .oq {
  background-color: #ebebeb;
}
.foot .pq {
  background-color: #e5e5e5;
}
.footoffen {
  height: 1rem;
  background-color: #f0f0f0;
}
.send {
  position: relative;
}
.send .float {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  opacity: 0;
}
.send .float .inner {
  max-width: 750px;
  margin: 0 auto;
  border-bottom: #cecece 1px solid;
}
.floatfix .oq,
.floatfix .pq {
  opacity: 0;
}
.floatfix .float {
  position: fixed;
  bottom: auto;
  top: 0;
  opacity: 1;
}
.offentop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.offentop .inner {
  max-width: 750px;
  margin: 0 auto;
}
.offendate img {
  display: none;
}
.offendate .date1 {
  display: block;
}
.offendate1 .date1 {
  display: block;
}
.offendate1 .date2,
.offendate1 .date3 {
  display: none;
}
.offendate2 .date2 {
  display: block;
}
.offendate2 .date1,
.offendate2 .date3 {
  display: none;
}
.offendate3 .date3 {
  display: block;
}
.offendate3 .date1,
.offendate3 .date2 {
  display: none;
}
.offensendtop .sd,
.offensendtop .ing,
.offensendtop .m {
  display: none;
}
.offen_a1 .ing,
.offen_a1 .m,
.offen_a1 .auto1,
.offen_a1 .auto2 {
  display: none;
}
.offen_a1 .sd {
  display: block;
}
.offen_a2 .sd,
.offen_a2 .m,
.offen_a2 .auto1,
.offen_a2 .auto2 {
  display: none;
}
.offen_a2 .ing {
  display: block;
}
.offen_m1 .auto1,
.offen_m1 .auto2,
.offen_m1 .sd,
.offen_m1 .ing {
  display: none;
}
.offen_m1 .m {
  display: block;
}
.offen_auto1 .m,
.offen_auto1 .sd,
.offen_auto1 .ing,
.offen_auto1 .auto2 {
  display: none;
}
.offen_auto1 .auto1 {
  display: block;
}
.offen_auto2 .m,
.offen_auto2 .sd,
.offen_auto2 .ing,
.offen_auto2 .auto1 {
  display: none;
}
.offen_auto2 .auto2 {
  display: block;
}
.offen_auto3 .m,
.offen_auto3 .sd,
.offen_auto3 .ing,
.offen_auto3 .auto1 {
  display: none;
}
.offen_auto3 .auto2 {
  display: block;
}
.offen_auto3 .offendate {
  display: none;
}
.offen_m1 .offenflash img:first-child {
  display: none;
}
.offensame {
  display: none;
}
.pqs .offensame {
  display: block;
}
.pqs .offenway {
  display: none;
}
.offen_a1 .offenway {
  display: none;
}
.pqs .offen_auto1 .offensame,
.pqs .offen_auto2 .offensame {
  display: none;
}
.offenpage .offentop .detail,
.offenpage .tophold .detail,
.offenpage .offentop .city,
.offenpage .tophold .city {
  display: none;
}
.offen_m1 .offentop .normal,
.offen_m1 .tophold .normal,
.offen_m1 .offentop .city,
.offen_m1 .tophold .city {
  display: none;
}
.offen_m1 .offentop .detail,
.offen_m1 .tophold .detail {
  display: block;
}
.offen_m1 .offendate {
  display: none;
}
.pqs .offen_a1 .offenflash {
  display: none;
}
.offenflashno {
  display: none;
}
.pqs .offen_a1 .offenflashno {
  display: block;
}
.offen_auto3 .offentop .normal,
.offen_auto3 .tophold .normal,
.offen_auto3 .offentop .detail,
.offen_auto3 .tophold .detail {
  display: none;
}
.offen_auto3 .offentop .city,
.offen_auto3 .tophold .city {
  display: block;
}
.offenflash {
  display: none;
}
.pqs .offenwayman {
  display: none;
}
.pqs .offenflash {
  display: block;
}
.invitetop {
  position: relative;
}
.invitepanel {
  position: absolute;
  left: 0;
  width: 100%;
}
.invitepanel .inner {
  margin: 0 auto;
  max-width: 750px;
}
.map {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.map .in {
  max-width: 750px;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.invitefoot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.invitefoot .inner {
  margin: 0 auto;
  max-width: 750px;
}
.e_layerfoot {
  -webkit-animation: layer 0.3s ease-in-out 1;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes layer {
  0% {
    -webkit-transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
