/* CSS GUIDE - 通用样式 - 皮肤
================================================================
 *
 * PROJECT:	Spark;
 * Author: zhaidongfang;
 *
----------------------------------------------------------------
 *
 * 1. 文字;
 * 2. 边框;
 * 3. 背景;
 * 4. 其他;
 *
================================================================*/
/* 1 文字
================================================================*/
/* 文字色
----------------------------------------------------------------*/
/* 40%灰色：次要信息 */
.c_t0,
body {
  color: #666666;
}
/* 20%灰色:title bar标题文字，正文标题／结构化摘要，常规按钮文字 */
.c_t1 {
  color: #333333;
}
/* 标准橘色：主导航／二级导航当前态，价格，强提醒 */
.c_t2 {
  color: #fa8919;
}
/* 68%灰色：文本框内的引导文案，功能列表中的弱引导文字 */
.c_t3 {
  color: #adadad;
}
/* 80%灰色：按钮不可点击态文字 */
.c_t4 {
  color: #ccc;
}
/* 亮橘色:文字链接，消息系统图标,列表中的营销标签 */
.c_t5 {
  color: #ffa033;
}
/* 拼车订单价格描述 */
.c_t6 {
  color: #52b786;
}
/* 53%灰色：再区分等级的次要信息，次要信息（慎用） */
.c_t7 {
  color: #878787;
}
/* 白色 */
.c_tw {
  color: #fff;
}
/* 链接色
----------------------------------------------------------------*/
/* 默认链接色 */
.c_a0,
a {
  color: #fa8919;
}
.c_a0:active,
a:active {
  color: #fa8919;
}
/* 默认链接色 */
.c_a1 {
  color: #366;
}
.c_a1:active {
  color: #336666;
}
/* 2 边框
================================================================*/
.c_bor1 {
  border-color: #cccccc;
}
.c_bor2 {
  border-color: #dddddd;
}
.c_bor3 {
  border-color: #d9d9d9;
}
/* 3 背景
================================================================*/
/* 背景色
----------------------------------------------------------------*/
.c_bg0,
body {
  background-color: #ffffff;
}
/* 默认页面背景色 */
.c_bg1 {
  background-color: #fafafa;
}
.c_bg2 {
  background-color: #f0f0f0;
}
/* 底纹 */
/* 4 其他
================================================================*/
/* 表单元素色
----------------------------------------------------------------*/
:root ::-webkit-input-placeholder {
  color: #ccc;
}
:root :-webkit-input-placeholder {
  color: #ccc;
}
.inputTxt .text:empty:before {
  color: #ccc;
}
