body {
  background-color: #163551;
}
.bgplaceholder {
  width: 100%;
  opacity: 0;
}
.oct_animate {
  position: absolute;
  z-index: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.oct_animate img {
  width: 100%;
}
.oct_animate .aninner {
  position: relative;
  z-index: 1;
  border-radius: 8px;
  margin: auto 7%;
  overflow: hidden;
  box-sizing: border-box;
  will-change: -webkit-transform;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.oct_animate .ani_skip {
  position: absolute;
  z-index: 40;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  background-color: #4a4c5b;
  border: #3e404d 1px solid;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 0 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.scene.active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.scene.done {
  opacity: 0;
  -webkit-transform: scale(2);
  transform: scale(2);
}
.scene .prole {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.scene .ppart {
  position: relative;
  overflow: hidden;
}
.scene .stage {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.stage1 {
  z-index: 10;
}
.stage2 {
  z-index: 20;
}
.stage3 {
  z-index: 30;
}
.scene1start .stage1,
.scene2start .stage2,
.scene3start .stage3 {
  opacity: 1;
}
.scene1end .stage1,
.scene2end .stage2,
.scene3end .stage3 {
  opacity: 1;
}
.scene .stage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* stage1 */
.stage1 .psofa {
  padding-top: 49.3%;
  width: 97.9%;
  opacity: 0;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}
.scene1start .stage1 .psofa {
  -webkit-animation: drop 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  animation: drop 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: .3s;
  transform: translate3d(0, 0, 0);
}
.scene1end .stage1 .psofa {
  -webkit-animation: topout 0.3s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .3s;
  animation: topout 0.3s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: .3s;
}
.stage1 .plight {
  width: 28%;
  padding-top: 32.5%;
  padding-left: 72.8%;
}
.scene1start .stage1 .plight img,
.scene1end .stage1 .plight img {
  -webkit-animation: opacity 0.5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation: opacity 0.5s ease-in-out infinite;
  animation-direction: alternate;
}
.stage1 .pquestion {
  opacity: 0;
}
.scene1start .stage1 .pquestion {
  -webkit-animation: fade 0.2s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  animation: fade 0.2s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}
.scene1end .stage1 .pquestion {
  -webkit-animation: fadeout 0.2s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation: fadeout 0.2s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 0;
}
.scene1start .stage1 .pquestion img,
.scene1end .stage1 .pquestion img {
  -webkit-animation: rotate 0.5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation: rotate 0.5s ease-in-out infinite;
  animation-direction: alternate;
}
.stage1 .pquestion1 {
  width: 7.9%;
  padding-top: 41.2%;
  padding-left: 69.6%;
}
.stage1 .pquestion2 {
  width: 5%;
  padding-top: 53.2%;
  padding-left: 55.2%;
}
.scene1start .stage1 .pquestion2 img,
.scene1end .stage1 .pquestion2 img {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
.stage1 .pman {
  width: 45%;
  padding-top: 62.6%;
  padding-left: 26.2%;
  opacity: 0;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}
.scene1start .stage1 .pman,
.scene1end .stage1 .pman {
  -webkit-animation: drop 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .6s;
  animation: drop 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: .6s;
}
.scene1end .stage1 .pman {
  -webkit-animation: topout 0.3s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation: topout 0.3s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 0;
}
.stage1 .phone {
  width: 17.9%;
  padding-top: 52.2%;
  padding-left: 52.5%;
}
.scene1start .stage1 .phone img,
.scene1end .stage1 .phone img {
  -webkit-animation: opacity 0.2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation: opacity 0.2s ease-in-out infinite;
  animation-direction: alternate;
}
.stage1 .parm {
  width: 37.9%;
  padding-top: 20.3%;
  padding-left: 19.3%;
}
.scene1start .stage1 .parm img,
.scene1end .stage1 .parm img {
  -webkit-animation: parm 0.4s ease-in-out infinite;
  -webkit-transform-origin: 0 bottom;
  -webkit-animation-direction: alternate;
  animation: parm 0.4s ease-in-out infinite;
  transform-origin: 0 bottom;
  animation-direction: alternate;
}
.stage1 .ptopword {
  width: 78.9%;
  padding-top: 18.2%;
  padding-left: 12.1%;
  opacity: 0;
}
.scene1start .stage1 .ptopword {
  -webkit-animation: show 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation: show 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.scene1end .stage1 .ptopword {
  -webkit-animation: fadeout 0.2s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation: fadeout 0.2s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 0;
}
.stage2 .pwall {
  width: 80.4%;
  padding-top: 47.6%;
  padding-left: 10.3%;
  opacity: 0;
}
.scene2start .stage2 .pwall {
  -webkit-animation: fade 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .7s;
  animation: fade 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: .7s;
}
.scene2end .stage2 .pwall {
  -webkit-animation: fadeout 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation: fadeout 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 0;
}
.stage2 .pman {
  width: 95.5%;
  padding-top: 54%;
  padding-left: 0;
  -webkit-transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  -webkit-transition-delay: .4s;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
  transition-delay: .4s;
}
.scene2start .stage2 .pman {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.scene2end .stage2 .pman {
  -webkit-transform: translateY(100%);
  -webkit-transition-delay: 0;
  transform: translateY(100%);
  transition-delay: 0;
}
.stage2 .ppc {
  width: 54.5%;
  padding-top: 69.6%;
  padding-left: 21%;
}
.stage2 .ppc img {
  opacity: 0;
}
.scene2start .stage2 .ppc img {
  -webkit-animation: opacity 0.2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: .7s;
  animation: opacity 0.2s ease-in-out infinite;
  animation-direction: alternate;
  animation-delay: 0.7s;
}
.stage2 .pdesk {
  width: 201.3%;
  padding-top: 93.2%;
  margin-left: -50%;
  -webkit-transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: .2s;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  transition-delay: .2s;
}
.scene2start .stage2 .pdesk {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.scene2end .stage2 .pdesk {
  -webkit-transition-delay: 0s;
  -webkit-transform: translateX(-100%);
  transition-delay: 0s;
  transform: translateX(-100%);
}
.stage2 .plamp {
  width: 26%;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: .2s;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  transition-delay: .2s;
}
.scene2start .stage2 .plamp {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.scene2end .stage2 .plamp {
  -webkit-transform: translateX(100%);
  -webkit-transition-delay: 0;
  transform: translateX(100%);
  transition-delay: 0;
}
.stage2 .ptopword {
  width: 66.8%;
  padding-top: 18.6%;
  padding-left: 16.5%;
  opacity: 0;
}
.scene2start .stage2 .ptopword {
  -webkit-animation: show 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  animation: show 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}
.scene2end .stage2 .ptopword {
  -webkit-animation: fadeout 0.2s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation: fadeout 0.2s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 0;
}
.stage3 .psun {
  width: 78.4%;
  padding-top: 52.7%;
  padding-left: 12.6%;
  -webkit-transform: translateY(200%);
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: .8s;
  transform: translateY(200%);
  transition: all 0.5s ease-in-out;
  transition-delay: .8s;
}
.scene3start .stage3 .psun {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.scene3end .stage3 .psun {
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -webkit-transition-delay: 0;
  transform: translateY(-50%);
  transition-delay: 0;
}
.stage3 .pnature {
  width: 100%;
  padding-top: 71.9%;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: .7s;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: .7s;
}
.scene3start .stage3 .pnature {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.scene3end .stage3 .pnature {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.stage3 .proad {
  width: 100%;
  padding-top: 123.5%;
  top: auto;
  bottom: 0;
  -webkit-transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}
.scene3start .stage3 .proad {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.scene3end .stage3 .proad {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.stage3 .pman {
  width: 41.8%;
  margin-left: -5.7%;
  padding-top: 83.2%;
  -webkit-transform: translateY(100%);
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: .2s;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: .2s;
}
.scene3start .stage3 .pman {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.scene3end .stage3 .pman {
  opacity: 0;
  -webkit-transition-duration: .1s;
  -webkit-transform: translateY(0);
  transition-duration: .1s;
  transform: translateY(0);
}
.stage3 .pcar {
  width: 137.8%;
  left: auto;
  right: 0;
  padding-top: 103.6%;
  margin-right: -53%;
  -webkit-transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -webkit-transition-delay: .5s;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  transition-delay: .5s;
}
.scene3start .stage3 .pcar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.scene3end .stage3 .pcar {
  -webkit-transition-delay: .5s;
  -webkit-transform: translateX(-150%);
  transition-delay: .5s;
  transform: translateX(-150%);
}
.stage3 .pmanin {
  width: 8.7%;
  padding-top: 6.9%;
  padding-left: 41%;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  -webkit-transition-delay: .2s;
  transition: opacity 0.1s ease-in-out;
  transition-delay: .2s;
}
.scene3end .stage3 .pmanin {
  opacity: 1;
}
.stage3 .ptopword {
  width: 60.4%;
  padding-top: 10.6%;
  padding-left: 20.2%;
  opacity: 0;
}
.scene3start .stage3 .ptopword {
  -webkit-animation: show 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
  animation: show 0.6s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 1.2s;
}
.scene3end .stage3 .ptopword {
  -webkit-animation: fadeout 0.2s ease-in-out 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation: fadeout 0.2s ease-in-out 1;
  animation-fill-mode: both;
  animation-delay: 0;
}
@-webkit-keyframes parm {
  0% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes show {
  from,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes hide {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
}
@-webkit-keyframes drop {
  from,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 18px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -7px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 3px, 0);
  }
  100% {
    -webkit-transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes topout {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
@keyframes parm {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  from,
  20%,
  40%,
  60%,
  80%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes hide {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes drop {
  from,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 18px, 0);
  }
  75% {
    transform: translate3d(0, -7px, 0);
  }
  90% {
    transform: translate3d(0, 3px, 0);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes topout {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
