#main {
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px;
}
.tit4 {
  margin: 0 5%;
  padding: 4% 0;
  font-size: 1rem;
}
.tit4 .t {
  color: #333333;
}

/**
 * @require opt_foot/e_opt_foot_known.css
 * @require opt_foot/e_opt_foot_submit.css
 * @require opt_foot/e_opt_foot_uploadfilefix.css
 */
.opt_foot {
  position: relative;
  z-index: 99;
}
.opt_foot .inner .c0 {
  padding: 2.7%;
  width: 94.6%;
}
.e_foot_fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.e_foot_fix .inner {
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px 1px;
}

.ico_condition_success {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background: url(//futurefriendly.cn/ds/static/release/page/superdriver_condition/images/check.png) center center no-repeat;
  background-size: 16px 16px;
}
#main {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  padding-bottom: 27%;
  overflow: hidden;
  overflow-y: auto;
  background: #f0f0f0;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.avatar_status {
  padding: 8% 0 6%;
  background-color: #ffffff;
}
.avatar_status .avatar {
  width: 15%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.avatar_status .avatar img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.avatar_status .status {
  margin-top: 4%;
  line-height: 1.8em;
}
.condition_card {
  margin-top: 4%;
}
.card_list .item {
  position: relative;
  margin: 3% 5% 0;
  background-color: #fff;
  border-radius: 5px;
  border: #e2e2e2 1px solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px 1px;
  -webkit-animation: cardappear 0.6s ease-in-out 1;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes cardappear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
.card_list .item:nth-child(1) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.card_list .item:nth-child(2) {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.card_list .item:nth-child(3) {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.card_list .item:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.card_list .item:first-child {
  margin-top: 0;
}
.card_list .item .c1 {
  position: relative;
  min-height: 96px;
  padding-left: 5%;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.card_list .item .c1:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #ececec;
  -webkit-transform: scaleY(0.5);
  -wekbit-transform-origin: 0 bottom;
  transform: scaleY(0.5);
  transform-origin: 0 bottom;
}
.card_list .item .c1 .labelicon {
  position: relative;
  width: 50px;
  margin-right: 12px;
  float: left;
  padding: 10px 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.card_list .item .c1 .labelicon img {
  width: 45px;
  margin: 0 auto;
  display: block;
}
.card_list .item .c1 .desc {
  position: relative;
  padding: 10px 75px 10px 0;
  overflow: hidden;
  color: #333;
}
.card_list .item .c1 .desc p {
  line-height: 1.9em;
  font-size: 0.75rem;
}
.e_card_1 .c1 {
  background-image: url(//futurefriendly.cn/ds/static/release/img/cardrepeat1.png);
  background-size: 46px 67px;
}
.e_card_2 .c1 {
  background-image: url(//futurefriendly.cn/ds/static/release/img/cardrepeat2.png);
  background-size: 55px 67px;
}
.e_card_3 .c1 {
  background-image: url(//futurefriendly.cn/ds/static/release/img/cardrepeat3.png);
  background-size: 46px 57px;
}
.e_card_4 .c1 {
  background-image: url(//futurefriendly.cn/ds/static/release/img/cardrepeat4.png);
  background-size: 46px 65px;
}
.card_list .certmark {
  z-index: 1;
  width: 72px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 12px 0 0;
}
.card_list .item .c2 {
  padding: 4% 0 4% 5%;
}
.card_list .lackitem,
.card_list .detailitem {
  padding-left: 62px;
}
.card_list .detailitem {
  position: relative;
  padding-right: 62px;
}
.card_list .detailitem .txt {
  line-height: 1.9em;
}
.card_list .detailitem .check {
  position: absolute;
  right: 38px;
  top: 0;
}
.card_list .lackitem p {
  color: #ff5662;
  line-height: 1.9em;
}
.card_list .lackitem {
  margin-top: 5px;
}
.card_list .lackitem:first-child {
  margin-top: 0;
}
.card_list .lackitem .opt {
  margin-top: 5px;
}
