/* CSS GUIDE - 通用样式 - 模块
================================================================
 *
 * PROJECT:	Spark;
 * Author: zhaidongfang;
 *
----------------------------------------------------------------
 *
 * 1. 模块;
 * 2. 结构;
 *
================================================================*/
/* 1 模块
================================================================*/
/* 头像
----------------------------------------------------------------*/
/* 默认头像 */
.avatar {
  position: relative;
}
.avatar .head {
  width: 100%;
  border-radius: 50%;
  vertical-align: top;
}
.avatar .dot,
.avatar .pop {
  position: absolute;
  display: block;
  background: #ff3b30;
}
.avatar .dot {
  right: 0;
  top: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.avatar .pop {
  font-style: normal;
  color: #fff;
  font-size: .75rem;
  width: 1.125rem;
  line-height: 1.125rem;
  border-radius: 125rem;
  text-align: center;
}
.avatar30 .dot,
.avatar32 .dot,
.avatar40 .dot {
  margin-right: -3px;
  margin-top: -3px;
}
.avatar30 .pop,
.avatar32 .pop {
  right: -0.5625rem;
  top: -0.5625rem;
}
.avatar40 .pop,
.avatar48 .pop,
.avatar50 .pop,
.avatar55 .pop,
.avatar60 .pop {
  left: 66.6%;
  bottom: 66.6%;
}
.avatar70 .pop,
.avatar80 .pop {
  left: 75%;
  bottom: 75%;
}
.avatar30 {
  width: 30px;
  height: 30px;
}
.avatar32 {
  width: 32px;
  height: 32px;
}
.avatar40 {
  width: 40px;
  height: 40px;
}
.avatar48 {
  width: 48px;
  height: 48px;
}
.avatar50 {
  width: 50px;
  height: 50px;
}
.avatar55 {
  width: 55px;
  height: 55px;
}
.avatar60 {
  width: 60px;
  height: 60px;
}
.avatar70 {
  width: 70px;
  height: 70px;
}
.avatar80 {
  width: 80px;
  height: 80px;
}
/* 券
----------------------------------------------------------------*/
.ticket {
  position: relative;
  color: #ff8903;
  max-width: 460px;
  margin: 0 auto;
  padding: 3% 8% 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 5px 7px 3px 8px;
  border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAASCAMAAAAT3xzTAAAABGdBTUEAALGPC/xhBQAAAF1QTFRF5eXl5eXl5eXl5eXl/4kD/4kD/4kD/4kD/4kD/4kD/4kD5eXl4+Pj3Nzc4+Pj5eXl5eXl5eXl5eXl5eXl5eXlAAAA/4kD+/v7/f396Ojo6urq/v7+5eXl/4kD/////1Js5gAAABd0Uk5TLuQGkZCU7QYO7wmQ5jKR7fgv+TQLAA+v0nZUAAAAgElEQVQoz+2NyQ6DMAwFXXYIkLC4Acf1/39mVQhSc6ggJy6d2+iN9CBJNW+YAT1gQh/MXug0AcXWbVDb+fVBgXct7YVlBdqKh8Z+mudJjRR4f7iI1cDuEFnWz+W6/HJx/J2f8s9vy19RQBFTF5DF5BmUeX01rvMSEJvqeYmqQXwDSUpY8olvKpMAAAAASUVORK5CYII=);
  border-image-slice: 10 14 6 16;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: round;
  border-style: solid;
  background: #ffffff url(//futurefriendly.cn/ds/static/release/components/ui_main/images/car.png) right bottom no-repeat;
  background-size: 54% auto;
}
.ticket .inner {
  position: relative;
  min-height: 4rem;
  padding-bottom: 1rem;
}
.ticket .val {
  float: right;
  text-align: right;
}
.ticket .val .yuan {
  font-size: 1.125rem;
  margin-right: 0.5em;
}
.ticket .val .number {
  font-size: 3.125rem;
  line-height: 1em;
}
.ticket .tit {
  font-size: 1.125rem;
}
.ticket .subtit,
.ticket .note {
  font-size: 0.6875rem;
}
.ticket .note {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #878787;
}
/* 消息体
----------------------------------------------------------------*/
.msgBox .picCnt {
  float: left;
  margin-right: 10px;
}
.msgBox .msgCnt {
  overflow: hidden;
}
.msgBox .msgCnt .username span {
  line-height: 1.8em;
}
.msgBox .msgCnt .message span {
  line-height: 1.8em;
}
/* 空白页提示
----------------------------------------------------------------*/
.blankTip {
  padding-top: 40%;
}
.blankTip .pic {
  width: 22.4%;
  margin: 0 auto;
}
.blankTip .pic img {
  display: block;
  width: 100%;
}
.blankTip .btnwrap {
  margin: 5% 14.4% 0;
}
/* 2 结构
================================================================*/
.container {
  margin: 0 auto;
  max-width: 768px;
}
.msgDetail {
  padding: 5%;
}
